doctype html
html
    head
        title= title
        //link(rel='stylesheet', href='../bower_components/bootstrap-sass-official/assets/stylesheets/')
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        .container
            nav(role="navigation")
                ul.nav.nav-tabs
                    li
                        a(href="/") Home
                    li.active
                        a(href="/tweets") Tweets
                    li
                        a(href="/tweets") Contact Us
                    li
                        a(href="/tweets") Site Map
            section
                article
                    block content
                aside aside stuff here
            footer
                p footer stuff goes here