.tweet-box {
  background-color: #e7f4f9;
  min-height: 200px;
  width: 350px;
  float: left;
  padding: 10px;
  margin: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }
